<% include header %>
<div class="container my-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-1">
            <li class="breadcrumb-item"><a href="/">ホーム</a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
        </ol>
    </nav>

    <h1 class="my-4"><%= title %></h1>

    <form method="post" action="/post/detail/insert">
        <div class="form-group">
            <label for="Select1">カテゴリ</label>
            <select class="form-control" id="Select1" name="cate_id">
                <% for (let v of cate_list) { %>
                <option value="<%- v.id %>"><%= v.name %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group">
            <label for="Input1">タイトル</label>
            <input type="text" class="form-control" id="Input1" name="title" value="">
        </div>
        <div class="form-group">
            <label for="Textarea1">内容（Markdown記法）</label>
            <textarea class="form-control" id="Textarea1" name="detail" rows="15"></textarea>
        </div>
        <div class="form-group">
            <label for="Select2">注目度</label>
            <select class="form-control" id="Select2" name="attention" required>
                <% for (let i=1; i < 11; i++) { %>
                <option value="<%- i %>"><%= i %></option>
                <% } %>
            </select>
        </div>

        <div class="btn-group d-flex" role="group" aria-label="group">
            <button type="submit" class="btn btn-primary w-100">保存</button>
        </div>
    </form>
</div>
<% include footer%>